<div class="wd-page wd-page-tabed">
    <div class="wd-page-title">
        <div class="wd-page-title-inner">
            <h4>Messages</h4>
            <nav class="wd-breadcrumbs" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Messages</li>
                </ol>
            </nav>
        </div>
        <div class="wd-page-title-control">
            <button class="btn btn-primary btn-rounded" [routerLink]="['/message/add']">Compose</button>
        </div>
    </div>
    <div class="wd-page-body">

        <div class="wd-panel">
            <div class="wd-panel-body">

                <p-table #dt1 [value]="inboxMessages" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[10,25,50]" [loading]="loading">
                    <ng-template pTemplate="header">
                        <tr>
                            <th width="5%"></th>
                            <th pSortableColumn="displayName">Subject <p-sortIcon field="code"></p-sortIcon>
                            </th>
                            <th width="20%">From</th>
                            <th>Date</th>
                            <th width="8%">Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-msg>
                        <tr>
                            <td>
                                <button pButton pRipple type="button" icon="pi pi-bars" class="p-button-rounded"
                                    pTooltip="Tasks" tooltipPosition="bottom"
                                    [routerLink]="['/task/'+msg.docId]"></button>
                            </td>
                            <td>{{msg.subject}}</td>
                            <td>
                                <p-chip label="{{msg.sendByName}}"></p-chip>
                            </td>
                            <td>
                                {{msg.createdAt.seconds * 1000 | date:' LLL dd, yyyy hh:mm:aa'}}
                            </td>
                            <td>
                                <button pButton pRipple icon="pi pi-eye"
                                    class="p-button-rounded p-button-primary p-mr-2"
                                    [routerLink]="['/project/edit/'+ msg.docId]" pTooltip="View"
                                    tooltipPosition="bottom"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                    pTooltip="Delete" tooltipPosition="bottom"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </div>

    </div>
</div>