<div class="wd-auth-wrapper">
    <div class="wd-auth-inner">
        <h3>Change Password!</h3>
        <p-messages [(value)]="msgs" closeable="false"></p-messages>
        <form [formGroup]="passwordForm" (ngSubmit)="onChangePassword(passwordForm)" novalidate>
            <div class="mb-3">
                <label class="form-label">Old Password<span>*</span></label>
                <input type="password" class="form-control" formControlName="old" placeholder="Old Password">
            </div>
            <div class="mb-3">
                <label class="form-label">New Password<span>*</span></label>
                <input type="password" class="form-control" formControlName="new" placeholder="New Password">
            </div>
            <div class="mb-3">
                <label class="form-label">Confirm Password<span>*</span></label>
                <input type="password" class="form-control" formControlName="cpassword" placeholder="Confirm Password">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary" [disabled]="passwordForm.invalid">Change Password</button>
            </div>

            <!-- <div class="text-center mt-4">
                Already have an Account? <a href="" [routerLink]="['/login']" class="fw-bold">Login</a>
            </div> -->
        </form>
    </div>
</div>


<p-blockUI [blocked]="blocked">
    <p-progressSpinner strokeWidth="4"></p-progressSpinner>
</p-blockUI>