<div class="wd-page wd-page-tabed">
    <div class="wd-page-title">
        <div class="wd-page-title-inner">
            <h4>Add User</h4>
            <nav class="wd-breadcrumbs" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/user']">Users</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add User</li>
                </ol>
            </nav>
        </div>
        <div class="wd-page-title-control">
            <button class="btn btn-primary btn-rounded" [routerLink]="['/user']">Back</button>
            <!-- <button class="btn btn-primary btn-rounded">Save</button> -->
        </div>
    </div>
    <div class="wd-page-body">

        <div class="wd-panel">
            <div class="wd-panel-body">

                <div class="row">
                    <div class="col-lg-4">
                        <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control" formControlName="name" placeholder="Name">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Email Address</label>
                                <input type="text" class="form-control" formControlName="email"
                                    placeholder="Email Address">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Role</label>
                                <select class="form-select" formControlName="role">
                                    <option value="">Select Role</option>
                                    <option value="Super Admin">Super Admin</option>
                                    <option value="Administrator">Administrator</option>
                                    <option value="Manager">Manager</option>
                                    <option value="Developer">Developer</option>
                                    <option value="Designer">Designer</option>
                                    <option value="Testing">Testing</option>
                                </select>
                            </div>
                            <button class="btn btn-primary btn-rounded" [disabled]="userForm.invalid">Save</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<p-blockUI [blocked]="blocked">
    <p-progressSpinner strokeWidth="4"></p-progressSpinner>
</p-blockUI>
<p-toast position="top-center" [showTransformOptions]="'translateX(100%)'"></p-toast>